.sort-span-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.address-cell {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
